<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>功能頁</title>
</head>

<body>
    <div class=" container-fluid">
        <div class="text-center " style="position: absolute;height: 300px;width: 300px; top: 50%; left: 50%; margin: -150px 0 0 -150px; ">
            <form method="post" action="/MB/to_all_manage">
                <input type=text name=board_ID value='<%=board_ID%>' style="display: none;">
                <input type=text name=password value='<%=password%>' style="display: none;">
                <input type=submit class=" btn-lg btn-primary" value="多版面管理">
            </form>
            <br />
            <form method="post" action="/GBD/to_all_data">
                <input type=text name=board_ID value='<%=board_ID%>' style="display: none;">
                <input type=text name=password value='<%=password%>' style="display: none;">
                <input type=submit class=" btn-lg btn-primary" value="多版面資料取得">
            </form>
            <br />
            <form method="post" action="/BM/to_manager_update">
                <input type=text name=board_ID value='<%=board_ID%>' style="display: none;">
                <input type=text name=password value='<%=password%>' style="display: none;">
                <input type=submit class=" btn-lg btn-primary" value="管理者資料管理">
            </form>
            <br />
            <form method="post" action="/BM/to_manager_build">
                <input type=text name=board_ID value='<%=board_ID%>' style="display: none;">
                <input type=text name=password value='<%=password%>' style="display: none;">
                <input type=submit class=" btn-lg btn-primary" value="建立版面">
            </form>
            <br />
            <form method="get" action="/BM/writer">
                <input type=text name=board_ID value='<%=board_ID%>' style="display: none;">
                <input type=text name=password value='<%=password%>' style="display: none;">
                <input type=submit class=" btn-lg btn-primary" value="文字轉程式碼編輯器">
            </form>
        </div>
    </div>
</body>

</html>