<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title></title>
</head>
<header>
    <div name="Title" class="jumbotron text-center">
        <h1>建立版面</h1>
    </div>
</header>

<body>
    <div class=" container-fluid">

        <div class="  w-50 m-auto ">
            <!-- <form method="POST" action="/BM/build" class=" text-center ">
                <input name='board_ID' style="display: none" value="<%=board_ID%>"/>
                <input name='password' style=" display:none" value="<%=password%>"/>
              
                <div style=" height: 350px; overflow-y: auto; ">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">introduce</span>
                        </div>
                        <input type="text" class="form-control" name="introduce">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">type</span>
                        </div>
                        <input type="text" class="form-control" name="type">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">title</span>
                        </div>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >name</span>
                        </div>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">school</span>
                        </div>
                        <input type="text" class="form-control" name="school">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">class</span>
                        </div>
                        <input type="text" class="form-control" name="class">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">password_private</span>
                        </div>
                        <input type="text" class="form-control" name="password_private">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">password_public</span>
                        </div>
                        <input type="text" class="form-control" name="password_public">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">tab</span>
                        </div>
                        <input type="text" class="form-control" name="tab">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">include</span>
                        </div>
                        <input type="text" class="form-control" name="include">
                    </div>
                </div>
                <input type=submit class="btn btn-info w-100" value="建立">
            </form> -->
            <form method="POST" action="/BM/build" id="input-form" class="was-validated"
                style=" height: 460px; overflow-y: auto; ">
                <div class="input-group mb-2  pr-2 ">
                    <div class="input-group mb-2  pr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">名字</span>
                        </div>
                        <input type="text" class="form-control " name="name" required>
                    </div>
                    <div class="input-group mb-2  pr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">學校</span>
                        </div>
                        <input type="text" class="form-control" name="school" required>
                    </div>

                    <div class="input-group mb-2  pr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">類型</span>
                        </div>
                        <select name="type" class="custom-select  form-control" required>
                            <option selected value="public">公開</option>
                            <option value="private">私密</option>
                        </select>
                        <!-- <input type="text" class="form-control" name="type"> -->
                    </div>
                    <!--<div class="input-group mb-2  pr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">看板</span>
                        </div>
                        <input type="number" min="1" class="form-control" name="board"
                            oninput="$(this).val($(this).val().replace(/[^\d]/g,''))" placeholder="輸入數字" required >
                    </div>-->
                    <div class="input-group mb-2  pr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">科系</span>
                        </div>
                        <input type="text" class="form-control" name="class" value="ALL" required disabled>
                    </div>
                    

                    <div class="input-group mb-2  pr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">主題</span>
                        </div>
                        <input type="text" class="form-control" name="title" required>
                    </div>


                    <div class="input-group mb-2  pr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">標籤</span>
                        </div>
                        <input type="text" class="form-control" name="tab" required>
                    </div>
                    <div class="input-group mb-2  pr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">私人密碼</span>
                        </div>
                        <input type="password" class="form-control" name="password_private" required>
                        <div class="input-group-append">
                            <span class="input-group-text eyes" style="cursor: pointer;"><i class="fa fa-eye-slash"
                                    aria-hidden="true"></i></span>
                        </div>
                        <!-- <div class="invalid-feedback">
                            測試代碼
                            <small>ˇ大小寫皆可</small>
                        </div> -->
                    </div>
                    <div class="input-group mb-2  pr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">公開密碼</span>
                        </div>
                        <input type="password" class="form-control" name="password_public" required>
                        <div class="input-group-append">
                            <span class="input-group-text eyes" style="cursor: pointer;"><i class="fa fa-eye-slash"
                                    aria-hidden="true"></i></span>
                        </div>
                        <!-- <div class="invalid-feedback">
                            測試代碼
                            <small>ˇ大小寫皆可</small>
                        </div> -->

                    </div>

                    <div class="input-group mb-2  pr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">議題介紹</span>
                        </div>
                        <!-- <textarea type="text" class="form-control" name="introduce" required></textarea> -->
                        <textarea type="text" class="form-control is-invalid" name="introduce" style="resize: none;"
                            rows="10" cols="25" required></textarea>
                    </div>

                    <div class="input-group  pr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">老師介紹</span>
                        </div>
                        <textarea type="text" class="form-control is-invalid" name="include" style="resize: none;"
                            rows="10" cols="25" required></textarea>
                    </div>
                </div>
                <input type=submit class="btn btn-info w-100" value="建立">
            </form>
        </div>
    </div>
    <script>
        $('.eyes').on('click', function () {
            // console.log(11254);
            if ($(this).parent().siblings('input').attr("type") == "text") {
                $(this).parent().siblings('input').attr('type', 'password');
                $(this).children('i').addClass("fa-eye-slash");
                $(this).children('i').removeClass("fa-eye");
            } else if ($(this).parent().siblings('input').attr("type") == "password") {
                $(this).parent().siblings('input').attr('type', 'text');
                $(this).children('i').removeClass("fa-eye-slash");
                $(this).children('i').addClass("fa-eye");
            }
        });
        $('select[name="type"]').on('change',function(){
            if($(this).val()=="public"){
                $('input[name="class"]').val("ALL");
                $('input[name="class"]').attr('disabled', true);
            }else{
                $('input[name="class"]').val("");
                $('input[name="class"]').attr('disabled', false);
                
            }
        });
    </script>

</body>

</html>