<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title></title>
</head>

<body>
    <div class=" container-fluid">
        <h1 class="jumbotron text-center p-2">多版面資料取得</h1>
    </div>
    <div class=" text-center">
        <p><strong>Board:</strong> <input type="text" /></p>
        <p><button class="btn btn-lg btn-info">下載</button></p>
        <p><a type="button" class="btn btn-link" style="display: none;">Download File</a></p>
    </div>
    <script>
        var $link = $(".btn-link");
        var items = null;
        $('.btn-info').on('click', function () {
            var id = $('input:first').val();
            $.ajax({
                type: 'post',
                url: "/GBD/download",
                data: {
                    board_ID: id,
                    password: '<%=password%>'
                },
                dataType: 'JSON',
                success: function (response) {
                    console.log("success");
                    items = response.data;
                    //transfer csv file
                    var csv = '\uFEFF';
                    for (var i in items) {
                        for (var j in items[i]) {
                            csv += '"' + j + '":"' + JSON.stringify(items[i][j]).replace(/\"/g, "'").replace(/,/g, "。") + '"' + ',';
                        }
                        csv += '\r\n';
                    }
                    //console.log(csv);
                    var blob = new Blob([csv],
                        { type: "application/octect-stream" });
                    var blobUrl = URL.createObjectURL(blob);
                    var fileName = "youtdata.txt";
                    $link.attr({ href: blobUrl, download: fileName }).show();
                },
                error: function (response) {
                    alert("fail");
                },
                complete: function () {
                    //no matter success or error it will run
                }
            });
        });
        $('.btn-link').on('click', function (e) {
            $(this).slideUp();
        });
    </script>
</body>

</html>