<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>選擇看板</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<!-- Header title -->
<header>
    <div name="Title" class="jumbotron  mb-0 ">
        <button class="btn btn-outline-dark  float-left" onclick="history.back()">上一頁</button>
        <div class="text-center  align-self-center">
            <h1>議題討論區</h1>
        </div>
    </div>
    <!-- <div name="Title" class="jumbotron text-center  pb-4 mb-0" style="font-family: 'Roboto Slab', cursive;">
        <h1>公有看板區</h1>
    </div> -->
</header>

<body style="font-family: 'Roboto Slab', cursive;">
    <div class=" container-fluid">

        <div class="row" style="height: 800px;">
            <!-- 左邊的欄位 -->
            <div class="col-md-2" style="background-color:rgb(243, 243, 243);">
                <div class="mt-4  d-flex flex-column">
                    <!-- SHOW ALL -->
                    <div class="p-1">
                        <button class="btn btn-primary  btn-block " value="all" >全部顯示</button>
                    </div>
                    <!-- 關鍵搜尋 -->
                    <div class="w-100  p-1">
                        <!-- 延展button -->
                        <button class="btn btn-primary dropdown-toggle btn-block " type="button" id="dropdownMenuButton"
                                data-toggle="collapse" data-target="#keywordpanel" aria-haspopup="true"
                                aria-expanded="false" >
                            關鍵字搜尋
                        </button>

                        <div class="collapse multi-collapse" id="keywordpanel">
                            <!-- 自己輸入關鍵字 -->
                            <div class="input-group pb-1 pt-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-search"
                                           aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input id="self-search" type="text" class="form-control" placeholder="輸入關鍵字"
                                       aria-label="specific">
                            </div>
                            <!-- 常見標籤 -->
                            <label class=" list-group-item-dark text-center w-100 m-0 p-2">
                                <strong>常見標籤</strong>
                            </label>
                            <div class="list-group">
                                <%for(var key in keywords){%>
                                <a data-toggle="list" role="tab" class="list-group-item list-group-item-action clearfix list-group-item-heading
                                 text-center p-1" id='keywords<%=keywords[key]%>'
                                   style="cursor: pointer;"><%=keywords[key]%></a>
                                <%}%>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- 列表區域 -->
            <div class="col-md-6  pt-1">

                <div class="list-group  flex-fill" id="list-tab" role="tablist" style=" height:500px; overflow-y:auto">
                    <h3 class="text-center m-auto" style="display: none;">查無相關列表</h3>
                    <%for(var i=0;i<boards.length;i++){%>
                        <a class="list-group-item list-group-item-action list-group-item-success"
                           id="list-<%=boards[i]['board_ID']%>" data-toggle="list" role="tab"
                           text-tab="<%=boards[i]['tab']%>" text-title="<%=boards[i]['title']%>"
                           style="display: block">
                            <strong class=" text-center">
                                <%=boards[i]['tab']%>:
                                <%=boards[i]['title']%>
                            </strong>
                            <!--跳轉按鈕-->
                            <input type="submit" class="btn btn-danger  float-right"
                                   name="<%=boards[i]['board_ID']%>" id='submit-btn' value='進入'>
                            <form method="POST" action="/JB/to_public_board" id="<%=boards[i]['board_ID']%>"
                                  name="<%=boards[i]['tab']%>">
                                <input type='text' name='ID' value='<%=ID%>' style="display: none;">
                                <input type='text' name='board_ID' value="<%=boards[i]['board_ID']%>"
                                       style="display: none;">
                            </form>
                        </a>
                        <%}%>
                </div>
            </div>
            <!-- 介紹面板 -->
            <div class="col-md-4 h-100 pt-2" style="background-color:rgb(255, 247, 213);">
                <div id="first_introduce">
                    <p style=" text-align: justify;text-justify: inter-word;">
                        <%-introduce%>
                    </p>
                </div>
                <div class=" tab-content" id="nav-tabContent">
                    <%for(var i=0;i<boards.length;i++){%>
                        <div class="tab-pane fade " id="panel-<%=boards[i]['board_ID']%>" role="tabpanel"
                             aria-labelledby="list-<%=boards[i]['board_ID']%>">
                            <p style=" text-align: justify;text-justify: inter-word;">
                                <%-boards[i]['include']%>
                            </p>
                        </div>
                        <%}%>
                </div>
            </div>
        </div>
    </div>

    <script>
        var lock = false;
        var before_list = null;
        var now_tag = 'all';
        // 解除tab鎖定
        function unlock_List() {
            lock = false;
            $('#list-tab >h3').hide();
            $("#first_introduce").show();
            $('.list-group > a').removeClass('show active');
            $('.list-group > a').attr('style', 'display: block');
            if (before_list != null) {
                $('#panel-' + before_list.attr('id').substring(5)).removeClass('show active');
                before_list = null;
            }
            // $('#nav-tabContent').children().removeClass('show active');
            $('#self-search').val('');
            now_tag = 'all';
        }
        $('button[value = "all"]').click(unlock_List);
        //關鍵搜尋點選
        $('#self-search').click(function () {
          //  $('.list-group-item-heading').removeClass('show active');//常見關鍵字取消
        });

        //點選列表
        $('#list-tab >a').hover(function () {
            $("#first_introduce").hide();
            if (lock == false) {
                if (before_list != null) {
                    $(before_list).removeClass('active');
                    $('#panel-' + before_list.attr('id').substring(5)).removeClass('show active');
                }
                before_list = $(this);
                $('#panel-' + before_list.attr('id').substring(5)).addClass('show active');
            }
        });

        $('#list-tab >a').click(function () {
            lock = true;
        });

        //關鍵搜尋打字--select title
        $("#self-search").on('keyup', debounce(function (e) {
            if ($(this).val() == "") {
                select_Topic('text-tab', now_tag);
            } else {
                select_Topic('text-title', $(this).val());
            }
        }));
        //常見標籤搜尋--select tab
        $('.list-group-item-heading').click(debounce(function () {
            $("#first_introduce").show();
            $('#self-search').val('');
            if (before_list != null) {
                $(before_list).removeClass('active');
                $('#panel-' + before_list.attr('id').substring(5)).removeClass('show active');
                before_list = null;
            }
            now_tag = $(this).text();
            select_Topic('text-tab', $(this).text());
        }));
        //跳轉頁面
        $("input[type = 'submit']").click(function () {
            $('#' + $(this).attr('name')).submit();
        });
        //prevent  rapid calls
        function debounce(fn) {
            var timer;
            return function () {
                var that = this;		//防止this 變成window對象
                var args = arguments;	//得到參數
                if (timer) {
                    clearTimeout(timer);	//當函數還未執行，清除即將產生的計時器
                }
                timer = setTimeout(function () {
                    timer = null;
                    fn.apply(that, args); //用apply调用函数
                }, 500);	//0.5秒延遲
            }
        }
        /*select_Topic()
        *   argument:mode,(text-title,text-tab)
        *   kind,(text for search)
        */
        function select_Topic(mode, kind) {
            $('#list-tab >h3').hide();
            if (kind == 'all') {             
                unlock_List();
                return;
            }
            // console.log(kind);
            hasTab = false;
            kind = kind.toLowerCase();
            var tab_list = $('#list-tab').children('a');
            var length = tab_list.length;
            var i = length;
            // console.log(i);
            // console.log(tab_list[0].getAttribute('style'));
            function appenditems() {
                for (j = 0; i >= 0, j < 100; --i, ++j) {
                    if (tab_list[i] != undefined) {
                        let search = tab_list[i].getAttribute(mode).toString().toLowerCase();
                        let check = tab_list[i].getAttribute('style');                     
                        if (!search.includes(kind)) {   
                            tab_list[i].setAttribute('style', 'display: none');
                        } else if (check =='display: block' || mode == "text-tab") {
                            console.log(check);
                            hasTab = true;
                            tab_list[i].setAttribute('style', 'display: block');
                            }
                        }                  
                }
                if (i >= 0) window.setTimeout(appenditems, 0);
                if (i < 0) {
                    hasTab ? $('#list-tab >h3').hide() : $('#list-tab >h3').show();
                }  
            }
            appenditems();
        }
        // function select_Topic(mode, kind) {
        //     let hasTab=false;
        //     kind = kind.toLowerCase();
        //     var tab_list = $('#list-tab').children('a');
        //     for (var i = 0; i < tab_list.length; ++i) {
        //         let textTitle = tab_list[i].getAttribute("text-title").toString().toLowerCase();
        //         let textTab = tab_list[i].getAttribute("text-tab").toString().toLowerCase(); //search tab
        //         if (mode == "text-tab") {
        //             if (textTab.includes(kind)) {
        //                 tab_list[i].setAttribute('style', 'display: block');
        //             } else {
        //                 tab_list[i].setAttribute('style', 'display: none');
        //             }
        //         } else if (mode == "text-title") {
        //         if (textTitle.includes(kind)) {
        //             hasTab=true;
        //             tab_list[i].setAttribute('style', 'display: block');
        //         } else {
        //             tab_list[i].setAttribute('style', 'display: none');
        //         }
        //         // }
        //         hasTab?$('#list-tab >h3').hide():$('#list-tab >h3').show();
        //     }
        //  }
        // }
    </script>
</body>
</html>