<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title></title>
</head>

<body id="main">
    <div class="container-fluid">
        <div class="row ">
            <!--image-->
            <div class="col-md-4  p-0 mt-5">
                <img class=" Thumbnail" src="https://i.imgur.com/iaJHp4H.jpg" alt="department-image"
                    style="width:100%; ">
            </div>

            <div class="col-md-4 ">
                <div name="Title" class=" jumbotron text-center">
                    <h2>高中教師社會科學增能平台</h2>
                </div>
                <div class=" btn-group-vertical d-flex align-items-center">
                    <div>
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#log-in-form"
                            value='log-in'>
                            登入
                        </button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#register-form"
                            value='register'>
                            註冊
                        </button>
                    </div>

                </div>

                <!-- 表單發送區 -->
                <div id="content-div" class="pt-4  h-25">
                    <div id="log-in-form" class="div-collapse collapse text-center" data-parent="#content-div">
                        <form method="post" action="/SAN/sign_in" class="carousel-item-right">
                            <input type="text" name='ID' placeholder="ID" />
                            <input type="password" name='password' placeholder="password" />
                            <br>
                            <input type="submit" class=" btn btn-primary mt-2" />
                        </form>
                    </div>

                    <div id="register-form" class="div-collapse collapse text-center" data-parent="#content-div">
                        <form method="post" action="/SAN/register" class="carousel-item-right">
                            <input type="text" name='ID' placeholder="ID" required />
                            <input type="text" name='password' placeholder="password" required />
                            <input type="text" name='name' placeholder="name" required />
                            <input type="email" name='mail' placeholder="mail" required />
                            <input type="text" name='school' placeholder="school" required />
                            <input type="text" name='gender' placeholder="gender" required />
                            <br>
                            <input type="submit" class=" btn btn-primary  mt-2" />
                        </form>
                    </div>
                </div>
                <p>
                    <h5 class="text-center">政治系●法律系●教育所●經濟系●心理系
                        <br>
                        【自發】X【互動】X【共好】</h5>


                </p>
            </div>
            <!-- 介紹區 -->
            <div id="intro-div" class="col-md-4 d-flex" style="height: 700px ">
                <div class="align-self-center pt-5">
                    <h1 class=" text-center"><%=title%></h1>
                    <br>
                    <%-include%>
                </div>

            </div>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            if ('<%=result%>' != '第一次進入') {
                alert('<%=result%>');
                if ('<%=result%>' == '帳號已存在 請更改帳號再試一次') {
                    var text = $("#register-form").find('form');
                    text.find('input[name = "ID"]').val('<%=ID%>');
                    text.find('input[name = "password"]').val('<%=password%>');
                    text.find('input[name = "name"]').val('<%=name%>');
                    text.find('input[name = "mail"]').val('<%=mail%>');
                    text.find('input[name = "school"]').val('<%=school%>');
                    text.find('input[name = "gender"]').val('<%=gender%>');
                }
            }
            $("#main").on('click', function () {
                if (!$(":input").is(":focus")) {
                    $('#main .div-collapse').collapse('hide')
                }
            });
        });
    </script>
</body>


</html>