<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title></title>
</head>

<body>
    <div class="jumbotron text-center">
            <h1> <img src="https://i.imgur.com/XMG7Iq1.png"  style="width: 100px;"/>選擇你想要的科系</h1>   
    </div>
    <div class="container">
        <div class="d-flex -group ">
            <%for(var i=1;i<=Object.keys(data).length;i++){%>
                <%if(i==Object.keys(data).length){%>
                <div  class=" w-25" style="border:none" onclick="department('<%=title[i]%>','<%=nick_name[i]%>')"
                     onmouseover="description('<%-i%>')">
                    <figure class="text-center p-2">
                        <img src="<%=image[i]%>" class=" img-fluid" style="height: 150px;">
                        <figcaption><strong><%=nick_name[i]%></strong></figcaption>
                    </figure>
                </div>
                <%}else{%>
                <div  class=" w-25" style=" border:none" onclick="department('<%=title[i]%>','<%=nick_name[i]%>')"
                     onmouseover="description('<%-i%>')">
                    <figure class="text-center p-2">
                        <img src="<%=image[i]%>" class=" img-fluid" style="height: 150px;">
                        <figcaption><strong><%=nick_name[i]%></strong></figcaption>
                    </figure>
                </div>
                <%}%>
                <%}%>

             

        </div>
        <form style="display: none;" method="POST">
            <input type='text' id='ID' value='<%=ID%>' name=ID>
            <input type='text' id='nick_name' name='nick_name'>
            <input submit>
        </form>
        <div class="row" style="background-color: bisque;" style="word-wrap: break-word;">
            <%for(var i=1;i<=Object.keys(data).length;i++){%>
            <div id='<%=i%>' style="display: none;">
                <%-data[i]%>
            </div>
            <%}%>
        </div>
    </div>
    <script>
        function department(value, nick_name) {
            $('#nick_name').val(nick_name);
            console.log(nick_name);
            $('form').attr('action', '/CB/department/' + value);
            $('form').submit();
        }
        console.log('<%=Object.keys(data).length%>');
        function description(de) {
            for (var i = 1; i <= '<%=Object.keys(data).length%>'; ++i) {
                if (de == i) {
                    $('#' + (i)).show();
                }
                else {
                    $('#' + (i)).hide();
                }
            }
        }

    </script>
</body>
</html>