<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/javascripts/jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <title>看板區</title>
</head>
<body>
    <div class="container" style="font-family:Microsoft JhengHei;font-size:200%">
        <div class="text-center">
            <h1><small><%=board_ID%></small></h1>
            <small>You are <%=ID%></small>
        </div>
        <br>
        <div id="introduce" style="text-align:center"></div>
        <br><br>
        <form action="/JB/to_post_page" method="post">
            <input type="text" name="ID" value="<%=ID%>" />
            <input type="text" name="board_ID" value="<%=board_ID%>" />
            <input type="text" name="type" id="get_type" />
            <input type="submit" value="我要發文" />
        </form>
        <br>
        <div>
            <%for(var i = 0;i< num;i++){%>
            <%=data[i]['ID']%><br />
            <%=data[i]['title']%><br />
            <%-data[i]['include']%><br />
            <form action="/DB/discuss" method="post">
                <input type="text" name="num" value="<%=data[i]['data']%>" />
                <input type="text" name="ID" value="<%=ID%>" />
                <input type="text" name="board_ID" value="<%=board_ID%>" />
                <input class="form-control" type="text" name="include" value=""  />
                <input type="submit" value="我要留言" />
            </form>
            <br>
            <%for(var j = 1;j <= Object.keys(data[i]).length - 4; j++){%>
            <%=data[i][str(j)]%><br />
            <%}%>
            <br /><br />
            <%}%>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.get("../DB/get_board_introduce?board_ID=" + $('h1 > small').text(), function (result) {
                $("#introduce").html(result['data'][0]['introduce']);
                $('.text-center > h1').html(result['data'][0]['title'] + $('h1').html());
                $("#get_type").val(result['data'][0]['type']);
            });
            $('input').hide();
            $('.form-control').show();
            $('input[type = "submit"]').show();
        });
    </script>
</body>
</html>